.outer-container {
    min-width: 940px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 160px;
    height: 160px;
}

.title {
    font-family: "Garamond", "serif";
    font-size: 50px;
    font-weight: 500;
    padding-top: 20px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.record {
    width: 400px;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b4edca;
    border-color: #b4edca;
    border-radius: 18pt;
}

.record-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.record-label {
    font-weight: 500;
    font-family: "Garamond", "serif";
    font-size: 30px;
    margin: 0px;
}

.record-description {
    margin: 0px;
    font-size: 13px;
}

.icon {
    width: 25px;
    height: 25px;
}

.or {
    margin: 0;
    font-size: 20px;
}

.upload {
    width: 400px;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b4edca;
    border-color: #b4edca;
    border-radius: 18pt;
}

.upload-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.upload-label {
    font-weight: 500;
    font-family: "Garamond", "serif";
    font-size: 30px;
    margin: 0px;
}

.upload-description {
    margin: 0px;
    font-size: 13px;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4feff;
    padding: 10px;
}

.instruction-title {
    margin: 0;
    font-size: 16px;
}

.instruction {
    margin: 0;
    font-size: 13px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploaded-file {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploaded-file-text {
    margin-bottom: 10px;
    font-family: "Garamond", "serif";
    font-size: 20px;
    font-weight: 500;
}

audio {
    background-color: #b4edca;
    padding: 5px;
    border-radius: 18pt;
}

.processing {
    padding-bottom: 20px;
}

.decode {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decoded-text-label {
    margin-bottom: 10px;
    font-family: "Garamond", "serif";
    font-size: 20px;
    font-weight: 500;
}

.decoded-text {
    margin-bottom: 10px;
    min-height: 100px;
    padding: 20px;
    width: 799px;
    border: 2px solid #a6b6c2;
    border-radius: 10px;
}

.copy-button {
    background-color: #f7f7f7;
    color: #C4CCD7;
    border: 2px solid #a6b6c2;
    border-radius: 10px;
}

.error {
    color: #f0868b;
    padding-bottom: 20px;
}

.home-button {
    background-color: #f7f7f7;
    border: 2px solid black;
    border-radius: 10px;
}

.home-button-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home-label {
    font-weight: 500;
    font-family: "Garamond", "serif";
    font-size: 30px;
    margin: 0px;
}