<div class="outer-container">
    <img src="assets/sinspeech_logo.png" class="logo">
    <h2 class="title">Open-source Sinhala Speech Recognition</h2>

    <div *ngIf="uiState=='home'" class="home-container">
        <div class="record btn btn-info" (click)="recordButtonClicked()">
            <div class="record-inner-container">
                <img src="assets/microphone_icon.png" class="icon">
                <h2 class="record-label">RECORD ONLINE</h2>
            </div>
            <div>
                <P class="record-description">Please allow your browser to access microphone</P>
            </div>
        </div>
        <p class="or">or</p>
        <label for="file" class="upload btn btn-info">
            <div class="upload-inner-container">
                <img src="assets/upload_icon.png" class="icon">
                <h2 class="upload-label">UPLOAD AUDIO FILE</h2>
            </div>
            <div>
                <P class="upload-description">Supported formats: MP3, WAV, FLAC, M4A</P>
            </div>
        </label>
        <input hidden id="file" type="file" (change)="onUploadFiles($any($event).target.files)" name="files" single accept=".flac, .mp3, .wav">
        <div class="instructions-container">
            <p class="instruction-title">To obtain better accurate results, we recommend the following regarding your input audio:</p>
            <p class="instruction">Limit the duration to 10 seconds (i.e. a single sentence)</p>
            <p class="instruction">Avoid background noise as much as possible</p>
        </div>
    </div>

    <div *ngIf="uiState=='upload'" class="upload-container">
        <div class="uploaded-file">
            <div class="uploaded-file-text">
                <span *ngIf="recordingStatus=='notRecording'">Uploaded file: </span>
                <span *ngIf="recordingStatus=='recordingStopped'">Recorded uploaded file: </span>
                {{ selectedFile }}
            </div>
            <audio [src]="urlObj" controls></audio>
        </div>

        <div *ngIf="uploadStatus=='processing'" class="processing">
            Processing...
        </div>
      
        <div *ngIf="uploadStatus=='finished'" class="decode">
            <div class="decoded-text-label">Decoded text:</div>
            <div class="decoded-text">
                {{ decodedText }}
            </div>
            <div class="copy-button btn btn-info" (click)="copyDecodedText()">
                Copy to clipboard
            </div>
        </div>

        <div *ngIf="uploadStatus=='error'" class="error">
            Error occured while decoding
        </div>

        <div class="home-button btn btn-info" (click)="goToHomePage()">
            <div class="home-button-inner-container">
                <img src="assets/home_icon.png" class="icon">
                <h2 class="home-label">HOME</h2>
            </div>
        </div>
    </div>

    <div *ngIf="uiState=='record'" class="record-container">
        <p *ngIf="recordingStatus=='recordingStarted'" class="recording">Recording...</p>
        <p *ngIf="recordingStatus=='recordingError'" class="error">Error occured while recording</p>
        <div class="instructions-container">
            <p class="instruction-title">Make sure to...</p>
            <p class="instruction">start speaking after clicking the button (wait about 1 second before you speak) and,</p>
            <p class="instruction">stop recording after you completely finish speaking (wait about 1 second before you click the button)</p>
        </div>
        <div *ngIf="recordingStatus=='notRecording'" class="start-stop-record">
            <img src="assets/start_record_icon.png" class="record-icon" (click)="startRecording()">
            <h2 class="recording-label">Start recording</h2>
        </div>
        <div *ngIf="recordingStatus=='recordingStarted'" class="start-stop-record">
            <img src="assets/stop_record_icon.png" class="record-icon" (click)="stopRecording()">
            <h2 class="recording-label">Stop recording</h2>
        </div>  
    </div>
</div>
