.outer-container {
  width: 100%;
  min-width: 550px;
  height: 55px;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a6b6c2;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: black;
  font-weight: 450;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover:not(.active > a) {
  background-color: #abbad1;
}
  
.active {
  background-color: #b4edca;
}

