/* .page {
    width: 100%;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    width: 50%;
    min-width: 650px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Garamond", "serif";
    font-size: 35px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upload {
    width: 200px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.upload-label-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.record {
    width: 200px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.icon {
    width: 32px;
    height: 32px;
}

.selected-file {
    width: 440px;
    margin-top: 15px;
    padding: 10px;
    border-style: dashed;
    border-color: #0dcaf0;
    border-width: thin;
}

.processing {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.result {
    width: 440px;
    margin-top: 15px;
    padding: 10px;
    margin-top: 15px;
    border-style: solid;
    border-width: thin;
} */