<div class="outer-container">
    <img src="../../../../assets/sinspeech_logo.png" class="logo">
    <h2 class="title">Open-source Sinhala Speech Recognition</h2>
    <div class="record btn btn-info">
        <div class="record-inner-container">
            <img src="../../../../assets/microphone_icon.png" class="icon">
            <h2 class="record-label">RECORD ONLINE</h2>
        </div>
        <div>
            <P class="record-description">Please allow your browser to access microphone</P>
        </div>
    </div>
    <p class="or">or</p>
    <div class="upload btn btn-info">
        <div class="upload-inner-container">
            <img src="../../../../assets/upload_icon.png" class="icon">
            <h2 class="upload-label">UPLOAD AUDIO FILE</h2>
        </div>
        <div>
            <P class="upload-description">Supported formats: MP3, WAV, FLAC, M4A</P>
        </div>
    </div>
    <div class="instructions-container">
        <p class="instruction-title">To obtain better accurate results, we recommend the following regarding your input audio:</p>
        <p class="instruction">Limit the duration to 10 seconds (i.e. a single sentence)</p>
        <p class="instruction">Avoid background noise as much as possible</p>
    </div>
</div>
