/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
    height: 100%;
    width: 100%;
    min-height: 1000px;
    min-width: 	950px;
}

body {
    height: 100%;
    width: 	100%;
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 60px;
}